*,
::before,
*::after {
  font-weight: 600;
  font-feature-settings: "palt";
  color: var(--c-text);
}

#app #slide-content {
  border: solid 2px var(--c-base);
}

#app .slidev-layout,
#app .slidev-layout {
  background: var(--c-main-gradient);
}

#app .slidev-layout.end {
  background: var(--c-main-gradient);
  filter: brightness(0.8);
}

deepl-inline-trigger {
  display: none !important;
}

/* Heading */
#app h1,
#app h2,
#app h3,
#app h4,
#app h5 {
  font-weight: 600;
  margin-bottom: 0.5em;
  letter-spacing: 0.05em;
  text-wrap: balance;
}

#app h1 {
  margin-bottom: 0.25em;
  font-weight: 900;
  letter-spacing: 0;
}

#app h2 {
  margin: 0 0 0.25em 0;
  padding: 0.25em 0;
  border-radius: 7px;
  letter-spacing: 0.03em;
}

#app h2::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--c-accent);
  width: 5%;
  margin-top: 0.25em;
}

#app h3 {
  position: relative;
  width: fit-content;
  padding: 0;
}

#app h3::after {
  content: "";
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background-color: var(--c-accent);
  opacity: 0.3;
}

#app h5 {
  color: var(--c-accent);
}

/* 中央揃えの場合のレイアウト */
#app .slidev-layout.center h2 {
  &::after {
    width: 100%;
    margin: 0.25em auto 0 auto;
    opacity: 0.5;
  }
}

/* 2カラムレイアウト */
#app .slidev-layout.two-columns {
  gap: 16px;
}

/* セクション見出し用 */
#app .slidev-layout.section {
  & h2 {
    font-size: 2.5rem;
    line-height: 1.4;

    &::after {
      width: 100%;
      margin: 0.25em auto 0 auto;
      opacity: 0.5;
    }
  }

  & h3 {
    padding: 0;
  }
}

/* List */
#app ol,
#app ul {
  margin: 0.5em 0.25em;
}
#app ul {
  list-style-type: disc;
}

#app li {
  letter-spacing: 0.03em;
}

/* Code */
#app .slidev-code {
  font-weight: 600;
  letter-spacing: 0.03em;
  border-left: solid 5px var(--c-main);
}

#app :not(pre) > :not(.twoslash-popup-code)code:before,
#app :not(pre) > :not(.twoslash-popup-code)code::after {
  content: none;
}

#app :not(pre) > :not(.twoslash-popup-code)code {
  margin: 0 4px;
  padding: 2px 0.3em;
  font-weight: 600;
}

/* strong */
#app strong {
  margin: 0 4px;
  font-size: 1.25em;
  font-weight: 900;
  color: var(--c-accent);
}

/* Table */
#app table {
  background-color: #3334;
  border-radius: 4px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  overflow: hidden;

  & tr:hover {
    color: var(--c-accent);
  }

  & th {
    font-weight: 700;
  }

  & td {
    font-weight: 400;
  }

  & tbody tr:last-child {
    border: none;
  }
}

/* Paragraph */
#app p {
  opacity: 1;
  line-height: 2.1;
  margin: 0.25em 0;
  letter-spacing: 0.03em;
}
#app h1 + p {
  letter-spacing: normal;
  line-height: 1.6;
}
#app p,
#app li {
  font-size: 1.3rem;
}

/* blockquote */
#app blockquote {
  font-family: monospace;
  position: relative;
  padding: 8px 1rem 4px 1rem;
  border: none;
  border-radius: 0;
  background-color: #333c;
  margin: 0.75rem 0;

  &::before,
  &::after {
    position: absolute;
    display: block;
    font-size: 2.5rem;
    line-height: 1;
    text-shadow: 3px 3px 0 var(--c-main);
  }

  &::before {
    content: "“";
    top: -0.85rem;
    left: 0;
  }

  &::after {
    content: "”";
    bottom: -1.5rem;
    right: 0;
  }

  & p,
  & li {
    font-size: 0.95rem;
  }
}

#app .twoslash-popup-code {
  overflow: hidden;
}
