:root {
  --c-text: #fff;
  --c-main: #3d387b;
  --c-secondary: #337885;
  --c-base: #dbedf3;
  --c-accent: #fc6b6b;
  --c-main-gradient: linear-gradient(45deg, var(--c-main), rgba(0, 0, 0, 0)), url('./filter.svg'), var(--c-secondary);
}
