:root {
  --theme-c-background: #eee;
  --theme-c-text: #333;
}

#app {
  .slidev-slide-content {
    background-color: var(--theme-c-background);
    color: var(--theme-c-text);
    font-weight: 600;
    font-size: 1.5rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
      font-weight: 700;
    }

    h1 {
      font-weight: 900;
    }

    code {
      color: var(--theme-c-background);
    }

    li {
      list-style-type: disc;
      font-size: 1.25rem;
    }
  }

  /* Layout */
  .slidev-layout {
    /* layout: intro */
    &.intro {
      h1 {
        font-size: 3em;
        font-weight: 900;

        & + p {
          font-size: 1.5em;
          margin: 0;
        }
      }
    }
    /* layout: section */
    &.section {
      h2 {
        font-size: 2.5em;
        font-weight: 900;
      }
    }
  }
}
