#app .slidev-layout.section {
  h2 {
    font-size: 4rem !important;
  }

  h2::after {
    display: none;
  }

  h3 {
    font-size: 2.3rem !important;
  }
}

div[class*='language-'], pre[class*='language-'], code[class*='language-'] {
  --prism-font-size : 1.2rem !important;
  --slidev-code-font-size: 1.2rem !important;
}